<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ainesh.eazypg_owner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyIntro" />
        <activity android:name=".DummyActivity" />
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TenantActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".MyPGActivity" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity android:name=".CashflowActivity" />
    </application>

</manifest>