<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ainesh.eazypg_owner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.example.EazyPG.owner.Activities.RentCollectionActivity"/>

        <activity
            android:name="com.example.EazyPG.owner.Activities.MainActivity"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.example.EazyPG.owner.Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.example.EazyPG.owner.Activities.AccountsFragmentActivity"/>
        <activity android:name="com.example.EazyPG.owner.Activities.RentBillCollectionFragment"/>
        <activity android:name="com.example.EazyPG.owner.Activities.TenantDocumentsActivity"/>
        <activity android:name="com.example.EazyPG.owner.Activities.LogFragmentActivity"/>
        <activity
            android:name="com.example.EazyPG.owner.MyIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.TenantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.StaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.MyPGActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.ComplaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.ApplianceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.ExpenseActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.example.EazyPG.owner.Activities.TenantDashboardFragmentActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.EazyPG.owner.Activities.ApplianceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.PassbookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.EazyPG.owner.Activities.RoomsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.EazyPG.owner.Activities.FoodActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.RoomApplianceDetailsActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.RoomTenantDetailsActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.PreviousTenantsActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.PreviousRoomTenantsActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.LateCheckinLogActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.BedroomComplaintsFragmentActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.FacilityComplaintsFragmentActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.FoodComplaintsFragmentActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.SecurityComplaintsFragmentActivity" />
        <activity android:name="com.example.EazyPG.owner.Activities.TenantDashboardProfile" />
        <activity android:name=".NotificationActivity"></activity>
        <activity android:name="com.example.EazyPG.owner.Activities.AddBillActivity"/>
        <activity android:name="com.example.EazyPG.owner.Activities.AddBillRoomActivity"/>
    </application>

</manifest>